* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #1c1c1c;
    padding: 1rem;

}


@media (min-width: 1080px)
{
    .itens{
        display: flex;
        justify-content: space-evenly;
    }

    .spacer{
        display: none;
    }
    
    #menu-hamburguer{
        display: none;
    }
    
    #imagem-menu {
        margin-top: 18px;
        height: 25px;
    }
    
    #logo-renato {
    }
}



@media (max-width: 1079px){

    .itens{
        display: flex;
        justify-content: space-between;
    }

    #menu-hamburguer{
        display: initial;
        width: 30px;
        height: 30px;
        justify-self: start;
    }
    
    #imagem-menu {
       display: none;
    }
    
    #logo-renato {
    }
}

