* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #1c1c1c;
    padding: 1rem;

}

.box-santo{
    display: flex;
    justify-content: center;

    background-image: url("/img//background.jpg");
    height: 50vh;
}





@media (min-width: 1080px)
{
    .box-itens{
        display: flex;
        justify-content: space-evenly;
    }

    .spacer{
        display: none;
    }

    #menu-hamburguer{
        display: none;
    }
    
    #imagem-menu {
        margin-top: 18px;
        height: 25px;
    }  

    .box-biografia-artista{
        background-color: #972b0f;
        padding: 2rem;
    }

    .box-conteudo{
        display: grid;
        grid-template-columns: auto auto;
        padding: 3rem 3rem 1rem 3rem;
    }

    #renato{
        width: calc(100% - 1em);
    }

    .lorem{
        color: white;
    }

    .box-buttom{
        display: flex;
        justify-content: center;
    }

    #button-bottom{
        padding: 0.5em 3em 0.5em 3em;
        background-color: #1c1c1c;
        border: none;
        color: white;
        margin-left: 400px;
        cursor: pointer;
        
    }

    .box-thumbnails{
        display: flex;
        justify-content: space-around;
        padding: 3rem;
    }

    .itens-thumb{
        text-align: center;
    }

    .box-thumbnails div h1{
        color: #555555;
        font-family: "Courgette",cursive;
        font-size: 26px;
        font-weight: normal;
        text-transform: none;
        margin-bottom: 20px;

    }

    .box-thumbnails div img{
        width: 150px;
        height: auto;
        border-radius: 100%;

    }

}



@media (max-width: 1079px){

    .box-itens{
        display: flex;
        justify-content: space-between;
        
    }

    #menu-hamburguer{
        display: initial;
        width: 30px;
        height: 30px;
        justify-self: start;
    }
    
    #imagem-menu {
       display: none;
    }
    
    .box-biografia-artista{
        background-color: #972b0f;
        padding: 3rem;
    }

    .box-conteudo{
        display: grid;
        grid-template-columns: auto auto;
        /* padding: 3rem 3rem 1rem 3rem; */
    }

    #renato{
        /* max-width: 380px; */
        width: calc(100% - 1em);

    }

    .lorem{
        color: white;
        max-height: 18rem;
        overflow-y: scroll;
    }

    .box-buttom{
        display: flex;
        justify-content: center;
    }

    #button-bottom{
        padding: 0.5em 3em 0.5em 3em;
        background-color: #1c1c1c;
        border: none;
        color: white;
        margin-top: 20px;
        cursor: pointer;
        
    }

    .box-thumbnails{
        display: flex;
        justify-content: space-around;
        padding: 3rem;
    }

    .itens-thumb{
        text-align: center;
    }

    .box-thumbnails div h1{
        color: #555555;
        font-family: "Courgette",cursive;
        font-size: 26px;
        font-weight: normal;
        text-transform: none;

    }

    .box-thumbnails div img{
        width: 150px;
        height: auto;
        border-radius: 100%;

    }


}

